
{% extends 'base.html' %}
{% block content %}
<body>
    <div class="forgot-pass">
        <div class="forgot-password-wrapper">
          <div class="forgot-password1">Forgot Password?</div>
        </div>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    <div class="lets-reset-the-password-wrapper">
        <div class="lets-reset-the">Let’s Reset the password!!!</div>
      </div>
    <form method="POST" action="{{ url_for('forgot_password') }}" onsubmit="return validateForm()">
        
        <div class="frame-parent9">
            <label for="username" class="username-wrapper">
              <div class="username1">Username*</div>
            </label>
            <input type="text" id="username" name="username"
              class="instance-child"
              required
              autofocus
            />
          </div><br>

          <div class="frame-parent10">
            <label for="password" class="username-wrapper">
              <div class="username1">New Password*</div>
            </label>
            <input type="password" id="password" name="password"
              class="instance-child"
              required
              autofocus
            />
          </div><br>

       <div class="frame-parent11">
        <label for="confirm_password" class="username-wrapper">
          <div class="username1">Confirm Password*</div>
        </label>
        <input  id="confirm_password" name="confirm_password"
          class="instance-child"
          type="password"
          required
          autofocus
        />
      </div><br>

        <input class="forgot_input" type="submit" value="Reset Password">
    </form>

    <div class="lets-go-back-to-login-wrapper" id="frameContainer">
        <div class="lets-go-back"><a href="{{ url_for('login') }}">Let’s go back to login!!!</a></div>
      </div>


  
    
    </div>
    <script>
        function validateForm() {
            var password = document.getElementById("password").value;
            var confirm_password = document.getElementById("confirm_password").value;

            if (password !== confirm_password) {
                alert("Password and Confirm Password must match.");
                return false;
            }

            return true;
        }
    </script>
    {% endblock %}

